<h1 class="display-4">Hello!</h1>

<form name="contactForm" class="form-group text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4">Contact us</p>
  
    <!-- Name -->
    <input type="text" name="contactFormName" formControlName="contactFormName" id="defaultContactFormName"
      class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" name="contactFormEmail" formControlName="contactFormEmail" id="defaultContactFormEmail"
      class="form-control mb-4" placeholder="E-mail">
  
    <!-- Subject -->
    <label>Subject</label>
    <select name="contactFormSubjects" formControlName="contactFormSubjects" class="form-control mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
    </select>
  
    <!-- Message -->
    <div class="form-group">
      <textarea name="contactFormMessage" formControlName="contactFormMessage" class="form-control rounded-0" id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
  
    <!-- Send button -->
    <button color="info" outline="true" block="true" class="z-depth-0 my-4"
       type="submit" [disabled]="disabledSubmitButton">Send</button>
  
</form>