<div class="jumbotron">
    <h1 class="display-4 mb-4">Hello!</h1>
    <p class="lead mb-4">
      I'm Eve Joyce, an ex-data analyst who realised I wanted to get back to making things! I consider myself a business analyst and programmer. I'm looking for a job at the moment, so if you know of any opportunities, I'd love to <a routerLink="/contact">hear from you</a>!
    </p>
    <hr class="my-4">
    <div class="lead mb-4">
      <p class="mb-4">
        I work in various platforms and technologies across the full stack, but I'm always keen to learn more:
      </p>
      <dl class="row justify-content-center">
        <dt class="col-md-3">Front-end</dt>
        <dd class="col-md-6">Angular, React, JavaScript/TypeScript, HTML, CSS</dd>
      </dl>
      <dl class="row justify-content-center">
        <dt class="col-md-3">Middleware</dt>
        <dd class="col-md-6">C# (.NET), SOAP, JSON, XML</dd>
      </dl>
      <dl class="row justify-content-center">
        <dt class="col-md-3">Back-end</dt>
        <dd class="col-md-6">SQL (Microsoft SQL Server, TSQL)</dd>
      </dl>
      <dl class="row justify-content-center">
        <dt class="col-md-3">Data Analysis</dt>
        <dd class="col-md-6">SAS, R, Microsoft Excel/Access</dd>
      </dl>
    </div>
    <hr class="my-4">
    <h6 class="display-6 mb-4">Check out some of my projects:</h6>
  </div>
  <div id="carouselProjects" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let projectItem of projectList" class="carousel-item" [class.active]="projectItem==projectList[0]">
        <a routerLink="/portfolio"><img src="{{projectItem.image}}" class="d-block w-100" alt="{{projectItem.title}}"></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center my-4">Interested in working with me?</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <a type="button" routerLink="/contact" class="btn btn-lg btn-outline-dark col-auto lead fst-italic fs-4">Contact me <span class="arrow-right">→</span></a>
    </div>
  </div>
