<div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">
      I'm Eve Joyce, an ex-data analyst who realised I wanted to get more into the nitty-gritty of progamming! I'm looking for a job at the moment, so if you know of any opportunities, I'd love to <a routerLink="/contact">hear from you</a>!
    </p>
    <hr class="my-4">
    <p>
        I work in various platforms and technologies across the full stack, but I'm always keen to learn more:
    </p>
    <div class="container">
      <dl class="row">
        <dt class="col-sm-3">Front-end</dt>
        <dd class="col-sm-9">JavaScript/TypeScript/Angular, HTML/CSS</dd>
        
        <dt class="col-sm-3">Middleware</dt>
        <dd class="col-sm-9">C# (Asp.NET)</dd>
        
        <dt class="col-sm-3">Back-end</dt>
        <dd class="col-sm-9">SQL (Microsoft SQL Server, TSQL)</dd>
        
        <dt class="col-sm-3">Data Analysis</dt>
        <dd class="col-sm-9">SAS, R, Microsoft Excel/Access</dd>
      </dl>
    </div>
    <hr class="my-4">
    <h2>Check out some of my projects:</h2>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/thursday.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/thursday.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/thursday.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>