<div id="container">
    <h1>Thank you!</h1>
    <hr>
    <p>Your feedback submission was successful.</p>
    <p>Thank you for sharing your thoughts with me!</p>
    <br>
    <div class="row justify-content-around">
        <div class="col-4">
            <a type="button" routerLink="/" class="btn btn-lg btn-outline-dark col-auto lead fst-italic fs-4">Return To Site<span class="arrow-right">→</span></a>
        </div>
        <div class="col-4">
            <a type="button" routerLink="/contact" class="btn btn-lg btn-outline-dark col-auto lead fst-italic fs-4">Give More Feedback<span class="arrow-right">→</span></a>
        </div>
    </div>
</div>
