<nav class="header-nav navbar-top navbar-dark navbar-expand" style="background-color: #6d597a;">
    <div class="container">
        <!-- <div class="row navbar-nav">
            <div class="col d-block d-sm-none justify-content-center">
                <a class="nav-link text-center name-title fs-1 text-white" routerLink="/">Eve Joyce,<br/>Developer</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }" routerLink="/">About me</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/portfolio">Portfolio</a>
            </div>
            <div class="col-4 d-none d-sm-block justify-content-center">
                <a class="nav-link text-center name-title fs-1 text-white" routerLink="/">Eve Joyce,<br/>Developer</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/resume">Resume</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
            </div>
        </div> -->
        <div class="row navbar-nav">
            <div class="col-12 d-block d-md-none justify-content-center">
                <a class="nav-link text-center name-title fs-1 text-white" routerLink="/">Eve Joyce,<br/>Developer</a>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }" routerLink="/">Portfolio</a>
            </div>
            <div class="col-4 d-none d-md-block justify-content-center">
                <a class="nav-link text-center name-title fs-1 text-white" routerLink="/">Eve Joyce,<br/>Developer</a>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>