<nav class="navbar-top navbar-dark navbar-expand-sm" style="background-color: #6d597a;">
    <div class="container">
        <div class="row navbar-nav">
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }" routerLink="/">About me</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/portfolio">Portfolio</a>
            </div>
            <div class="col-sm-4 collapse navbar-collapse justify-content-center">
                <a class="nav-link text-center name-title fs-1 text-white" routerLink="/">Eve Joyce,<br/>Developer</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/resume">Resume</a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>